@{
    ViewData["Title"] = "Dashboard";
    Layout = "_AdminLayout";
}

<div class="head-title">
	<div class="left">
		<h1>@ViewData["title"]</h1>
		<ul class="breadcrumb">
			<li>
				<a href="#">Dashboard</a>
			</li>
			<li><i class='bx bx-chevron-right'></i></li>
			<li>
				<a class="active" href="#">Home</a>
			</li>
		</ul>
	</div>
	<a asp-controller="Customer" asp-action="Customer" class="btn-download">
		@* <a href="#" class="btn-download"> *@
@* 		<i class='bx bxs-cloud-download'></i>
		<span class="text">Download PDF</span> *@
		<i class='bx bx-user'></i>
		<span class="text">User Site</span>
	</a>
</div>

<ul class="box-info">
	<li>
		<i class='bx bxs-calendar-check'></i>
		<span class="text">
			@* <h3><input id="b_Id" type="text" name="BookedId" class="form-control" readonly/></h3> *@
			<h3 id="b_Id"></h3>
			<p>New Order</p>
		</span>
	</li>
	<li>
		<i class='bx bxs-group'></i>
		<span class="text">
			@* <h3><input id="s_Id" type="text" name="SignupId" class="form-control" readonly/></h3> *@
			<h3 id="s_Id"></h3>
			<p>Visitors</p>
		</span>
	</li>
	<li>
		<i class='bx bx-rupee'></i>
		<span class="text">
			@* <h3><input id="b_deposit" type="text" name="Deposit" class="form-control" readonly/></h3> *@
			<h3 id="b_deposit"></h3>
			<p>Total Sales</p>
		</span>
	</li>
	<li>
		<i class='bx bx-archive-in'></i>
		<span class="text">
			@* <h3><input id="b_deposit" type="text" name="Deposit" class="form-control" readonly/></h3> *@
			<h3 id="b_complete"></h3>
			<p>Completed</p>
		</span>
	</li>
</ul>


<div class="table-data">
	<div class="order">
		<div class="head">
			<h3>Recent Orders</h3>
			<i class='bx bx-search'></i>
			<i class='bx bx-filter'></i>
		</div>
		<table>
			<thead>
				<tr>
					<th>User</th>
					<th>Date Order</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<img src="/images/infinity.jpg">
						<p>Suraj Kanse</p>
					</td>
					<td>01-10-2021</td>
					<td><span class="status completed">Completed</span></td>
				</tr>
				<tr>
					<td>
						<img src="/images/profile.png">
						<p>Vedant Patil</p>
					</td>
					<td>01-10-2021</td>
					<td><span class="status pending">Pending</span></td>
				</tr>
				<tr>
					<td>
						<img src="/images/ani.jpg">
						<p>Ashish Joshi</p>
					</td>
					<td>01-10-2021</td>
					<td><span class="status process">Process</span></td>
				</tr>
				<tr>
					<td>
						<img src="/images/cartoon.jpg">
						<p>Prathmesh Bangar</p>
					</td>
					<td>01-10-2021</td>
					<td><span class="status pending">Pending</span></td>
				</tr>
				<tr>
					<td>
						<img src="/images/img4.jpg">
						<p>Denis Mahajan</p>
					</td>
					<td>01-10-2021</td>
					<td><span class="status completed">Completed</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="todo">
		<div class="head">
			<h3>Todos</h3>
			<i class='bx bx-plus'></i>
			<i class='bx bx-filter'></i>
		</div>
		<ul class="todo-list">
			<li class="completed">
				<p>Todo List</p>
				<i class='bx bx-dots-vertical-rounded'></i>
			</li>
			<li class="completed">
				<p>Todo List</p>
				<i class='bx bx-dots-vertical-rounded'></i>
			</li>
			<li class="not-completed">
				<p>Todo List</p>
				<i class='bx bx-dots-vertical-rounded'></i>
			</li>
			<li class="completed">
				<p>Todo List</p>
				<i class='bx bx-dots-vertical-rounded'></i>
			</li>
			<li class="not-completed">
				<p>Todo List</p>
				<i class='bx bx-dots-vertical-rounded'></i>
			</li>
		</ul>
	</div>
</div>


<script src="~/js/Dashboard.js" asp-append-version="true"></script>