@{
    ViewData["Title"] = "User Profile";
    Layout = "_UserLayout";
}


@* <h2>@ViewData["title"]</h2> *@

<div class="container">
    <div class="row">
        <div class="col-12">

            <div class="my-2">
                <h3>My Profile</h3>
                <hr>
            </div>

            <form id="update" class="file-upload">
                <div class="row mb-2 gx-2">

                    <div class="col-xxl-8 mb-2 mb-xxl-0">
                        <div class="bg-secondary-soft px-4 py-5 rounded">
                            <div class="row g-3">
                                <h4 class="mb-3 mt-0">Contact detail</h4>

                                <input hidden id="u_Id" name="Id" />

                                <div class="col-md-12">
                                    <label class="form-label">Full Name *</label>
                                    <input id="u_Username" type="text" class="form-control" placeholder="Full Name" aria-label="First name" />
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label">Mobile number *</label>
                                    <input id="u_Contact" type="text" class="form-control" placeholder="Phone Number" aria-label="Phone number" maxlength="10" />
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label">Address *</label>
                                    <input id="u_Address" type="text" class="form-control" placeholder="Address" aria-label="Mobile number" />
                                </div>

                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label">Email *</label>
                                    <input id="u_Email" type="email" class="form-control" placeholder="Email" aria-label="Email" />
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-4">
                        <div class="bg-secondary-soft px-2 py-3 rounded">
                            <div class="row g-3">
                                <h4 class="mb-4 mt-0">Upload your profile photo</h4>
                                <div class="text-center">

                                    <div class="square position-relative display-2 mb-3">
                                        <img 
                                            src="" id="ProfileUpdate" 
                                            class="fas fa-fw fa-user position-absolute top-50 start-50 translate-middle text-secondary" 
                                            style="max-width: 50%; max-height: 150px; margin-top: 10px; display: none;">
                                    </div>

                                    <input id="u_ProfileFile" type="file" name="file" onchange="previewProfile(this)">

                                    <p class="text-muted mt-3 mb-0">
                                        <span class="me-1">Note:</span>Minimum size
                                        300px x 300px
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3 gx-3">
                    <div class="col-xxl-6 mb-3 mb-xxl-0">
                        <div class="bg-secondary-soft px-2 py-3 rounded">
                            <div class="row g-3">
                                <h4 class="mb-4 mt-0">Social media detail</h4>

                                <div class="col-md-6">
                                    <label class="form-label">
                                        <i class="fab fa-fw fa-facebook me-2 text-facebook"></i>Facebook *
                                    </label>
                                    <input type="text" class="form-control" placeholder="http://www.facebook.com" aria-label="Facebook" />
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label">
                                        <i class="fab fa-fw fa-twitter text-twitter me-2"></i>Twitter *
                                    </label>
                                    <input type="text" class="form-control" placeholder="http://www.twitter.com" aria-label="Twitter" />
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label">
                                        <i class="fab fa-fw fa-linkedin-in text-linkedin me-2"></i>Linkedin
                                        *
                                    </label>
                                    <input type="text" class="form-control" placeholder="http://www.linkedin.com" aria-label="Linkedin" />
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label">
                                        <i class="fab fa-fw fa-instagram text-instagram me-2"></i>Instagram
                                        *
                                    </label>
                                    <input type="text" class="form-control" placeholder="http://www.instragram.com" aria-label="Instragram" />
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label">
                                        <i class="fas fa-fw fa-basketball-ball text-dribbble me-2"></i>Dribble
                                        *
                                    </label>
                                    <input type="text" class="form-control" placeholder="http://www.dribble.com" aria-label="Dribble" />
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label">
                                        <i class="fab fa-fw fa-pinterest text-pinterest"></i>Pinterest *
                                    </label>
                                    <input type="text" class="form-control" placeholder="http://www.pinterest.com" aria-label="Pinterest" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="gap-3 d-md-flex justify-content-md-end text-center">
                    <a type="button" class="btn btn-primary btn-lg" asp-controller="Customer" asp-action="Customer">Go Back</a>
                    <button type="button" onclick="updateProfile()" class="btn btn-success btn-lg">Update profile</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/customerprofile.js" asp-append-version="true"></script>