@{
    ViewData["Title"] = "UserPage";
    Layout = "_UserLandingPageLayout";
}


<h1 class="heading" style="color: white;"> Find and book events anywhere</h1>
<p class="text" style="text-align: center; color: white;"> Search through hundreds of events to find your next one. Get your tickets safely through Kanasu.</p>
