@{
    ViewData["Title"] = "Settings";
    Layout = "_AdminLayout";
}


<h2>@ViewData["title"]</h2>

<div class="container">
    <div id="clock"></div>
</div>

<div class="calendar"></div>

<script src="~/js/settings.js" asp-append-version="true"></script>