@model IEnumerable<Event_Management_App.Models.GetAllBookedDetails>

@{
    ViewData["Title"] = "Book Event";
    Layout = "_BookingLayout";
}

<!-- Modal for Update Data -->
<div class="modal fade" id="bookEvent" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="bookEventModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookEventModalLabel">Booking Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <form id="update">

                <div class="modal-body">

                    <input hidden id="Id" name="Id" />

                    <div class="row">

                        <div class="col-4">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="ImageFile" class="form-label">Venue : </label>
                                        <input id="ImageFile" type="text" name="ImageFile" class="form-control" onchange="previewImage(this)" autocomplete="off" hidden />
                                        <div class="mb-3" style="display: flex; flex-direction: column;">
                                            <img id="imagePreviewView" src="#" alt="Image Preview" style="height: 200px; width: 200px; border-radius: 50%;">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-8">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Category" class="form-label">Category : </label>
                                        <input id="Category" type="text" name="Category" class="form-control" autocomplete="off" readonly />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Location" class="form-label">Location : </label>
                                        <input id="Location" type="text" name="Location" class="form-control" autocomplete="off" readonly />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Capacity" class="form-label">Capacity : </label>
                                        <input id="Capacity" type="text" name="Capacity" class="form-control" autocomplete="off" readonly />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Amount" class="form-label">Amount : </label>
                                        <input id="Amount" type="text" name="Amount" class="form-control" autocomplete="off" readonly />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Contact" class="form-label">Contact : </label>
                                        <input id="Contact" type="text" name="Contact" class="form-control" autocomplete="off" readonly />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Address" class="form-label">Address : </label>
                                        <input id="Address" type="text" name="Address" class="form-control" autocomplete="off" readonly />
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <hr />

                    <div class="row">

                        <div class="col-12">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="Date" class="form-label">Date : </label>
                                        <input id="Date" type="date" name="Date" class="form-control" autocomplete="off" required />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="Time" class="form-label">Time : </label>
                                        <input id="Time" type="time" name="Time" class="form-control" autocomplete="off" required />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="Deposit" class="form-label">Deposit : </label>
                                        <input id="Deposit" type="text" name="Deposit" class="form-control" autocomplete="off" required />
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="Description" class="form-label">Description : </label>
                                <input id="Description" type="text" name="Description" class="form-control" autocomplete="off" readonly />
                            </div>
                        </div>

                    </div>

                </div>

            </form>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="updateBook()" class="btn btn-success">Requested</button>
            </div>

        </div>
    </div>
</div>



<div class="container">
    <div id="cardContainer" class="row">
        <!-- Cards will be appended here -->
    </div>
</div>


<script src="~/js/customerbooking.js" asp-append-version="true"></script>