.payment-settings-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

h2, h3, h4 {
    color: #333;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    /*margin-top: 10px;*/
}

input[type="text"], select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    /*margin-top: 10px;*/
}

    button:hover {
        background-color: #0056b3;
    }

.current-payment-method {
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#calendar {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#clock {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

