@model GetAllBookedDetails;

@* @model IEnumerable<Event_Management_App.Models.GetAllBookedDetails> *@

@{
    ViewData["title"] = "Event Categories";
    Layout = "_AdminLayout";
}

@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />  *@


<div class="col-xl-12" style=" display: flex; justify-content: space-between;">

    <h2>@ViewData["title"]</h2>

    <p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEvent">
            AddEvent
        </button>
    </p>
</div>

<!-- Modal for Add Data -->
<div class="modal fade" id="addEvent" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addEventLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEventLabel">Add Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="clearForm()"></button>
            </div>

            <div class="modal-body">

                <form id="create" action="#" name="add">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Category" class="form-label">Category : </label>
                                <input id="Category" type="text" asp-for="AddEventModel.Category" class="form-control" autocomplete="off" maxlength="30" required />
                            </div>
                            <span asp-validation-for="AddEventModel.Category" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Location" class="form-label">Location : </label>
                                <input id="Location" type="text" asp-for="AddEventModel.Location" class="form-control" autocomplete="off" maxlength="30" required />
                            </div>
                            <span asp-validation-for="AddEventModel.Location" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Capacity" class="form-label">Capacity : </label>
                                <input id="Capacity" type="text" asp-for="AddEventModel.Capacity" class="form-control" autocomplete="off" maxlength="30" required />
                            </div>
                            <span asp-validation-for="AddEventModel.Capacity" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Amount" class="form-label">Amount : </label>
                                <input id="Amount" type="text" asp-for="AddEventModel.Amount" class="form-control" autocomplete="off" maxlength="30" required />
                            </div>
                            <span asp-validation-for="AddEventModel.Amount" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Description" class="form-label">Description : </label>
                                <input id="Description" type="text" asp-for="AddEventModel.Description" class="form-control" autocomplete="off" maxlength="50" required />
                            </div>
                            <span asp-validation-for="AddEventModel.Description" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Address" class="form-label">Address : </label>
                                <input id="Address" type="text" asp-for="AddEventModel.Address" class="form-control" autocomplete="off" maxlength="30" required />
                            </div>
                            <span asp-validation-for="AddEventModel.Address" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Contact" class="form-label">Contact : </label>
                                <input id="Contact" type="text" asp-for="AddEventModel.Contact" class="form-control" autocomplete="off" maxlength="10" required />
                            </div>
                            <span asp-validation-for="AddEventModel.Contact" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="ImageFile" class="form-label">Venue : </label>
                                <input id="ImageFile" asp-for="AddEventModel.ImageFile" type="file" class="form-control" autocomplete="off" required />
                            </div>
                            <span asp-validation-for="AddEventModel.ImageFile" class="text-danger"></span>
                        </div>
                    </div>

                </form>

            </div>

            <div class="modal-footer">
                @* <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> *@
                <button type="submit" onclick="addEvent()" action="#" class="btn btn-success">Add Event</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Update Data -->
<div class="modal fade" id="updateEvent" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateEventModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateEventModalLabel">Update Event Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form id="update">

                    <input hidden id="u_Id" name="Id" />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Category" class="form-label">Category : </label>
                                <input id="u_Category" type="text" asp-for="AddEventModel.Category" class="form-control" autocomplete="off" required />
                            </div>
                            <span asp-validation-for="AddEventModel.Category" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Location" class="form-label">Location : </label>
                                <input id="u_Location" type="text" asp-for="AddEventModel.Location" class="form-control" autocomplete="off" required />
                            </div>
                            <span asp-validation-for="AddEventModel.Location" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Capacity" class="form-label">Capacity : </label>
                                <input id="u_Capacity" type="text" asp-for="AddEventModel.Capacity" class="form-control" autocomplete="off" required />
                            </div>
                            <span asp-validation-for="AddEventModel.Capacity" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Amount" class="form-label">Amount : </label>
                                <input id="u_Amount" type="text" asp-for="AddEventModel.Amount" class="form-control" autocomplete="off" required />
                            </div>
                            <span asp-validation-for="AddEventModel.Amount" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Description" class="form-label">Description : </label>
                                <input id="u_Description" type="text" asp-for="AddEventModel.Description" class="form-control" autocomplete="off" required />
                            </div>
                            <span asp-validation-for="AddEventModel.Description" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Status" class="form-label">Status : </label>
                                <input id="u_Status" type="text" asp-for="EventStatusModel.Status" class="form-control" autocomplete="off" required />
                            </div>
                            <span asp-validation-for="EventStatusModel.Status" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Address" class="form-label">Address : </label>
                                <input id="u_Address" type="text" asp-for="AddEventModel.Address" class="form-control" autocomplete="off" required />
                            </div>
                            <span asp-validation-for="AddEventModel.Address" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Contact" class="form-label">Contact : </label>
                                <input id="u_Contact" type="text" asp-for="AddEventModel.Contact" class="form-control" autocomplete="off" maxlength="10" required />
                            </div>
                            <span asp-validation-for="AddEventModel.Contact" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="ImageFile" class="form-label">Venue : </label>
                                <input id="updateImageFile" type="file" name="ImageFile" class="form-control" onchange="previewImage(this)" autocomplete="off" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3" style="display: flex; flex-direction: column;">
                                <img id="imagePreviewUpdate" src="#" alt="Image Preview" style="max-width: 30%; max-height: 150px; margin-top: 10px; display: none;">
                            </div>
                        </div>
                    </div>

                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="updateAddEvent()" class="btn btn-success">Save changes</button>
            </div>

        </div>
    </div>
</div>

<!-- Modal for View Data -->
<div class="modal fade" id="viewAddEventModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="viewExampleModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewExampleModalLabel">Event View</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <form>
                <div class="modal-body">

                    <input id="v_Id" name="Id" hidden />

                    <div class="row">

                        <div class="col-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="ImageFile" class="form-label">Venue : </label>
                                        <input id="v_ImageFile" type="text" name="ImageFile" class="form-control" onchange="previewImage(this)" autocomplete="off" hidden />
                                        <div class="mb-3" style="display: flex; flex-direction: column;">
                                            <img id="imagePreviewView" src="#" alt="Image Preview" style="height: 200px; width: 200px; border-radius: 50%;">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-8">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Category" class="form-label">Category : </label>
                                        <input id="v_Category" type="text" name="Category" class="form-control" readonly />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Location" class="form-label">Location : </label>
                                        <input id="v_Location" type="text" name="Location" class="form-control" readonly />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Capacity" class="form-label">Capacity : </label>
                                        <input id="v_Capacity" type="text" name="Capacity" class="form-control" readonly />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Amount" class="form-label">Amount : </label>
                                        <input id="v_Amount" type="text" name="Amount" class="form-control" readonly />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Description" class="form-label">Description : </label>
                                        <input id="v_Description" type="text" name="Description" class="form-control" readonly />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Status" class="form-label">Status : </label>
                                        <input id="v_Status" type="text" name="Status" class="form-control" readonly />
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-12">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Address" class="form-label">Address : </label>
                                        <input id="v_Address" type="text" name="Address" class="form-control" readonly />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Contact" class="form-label">Contact : </label>
                                        <input id="v_Contact" type="text" name="Contact" class="form-control" readonly />
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </form>


        </div>
    </div>
</div>

<div class="container">
    <div id="cardContainer" class="row">
        <!-- Cards will be appended here -->
    </div>
</div>


<script src="~/js/addevent.js" asp-append-version="true"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}