@model IEnumerable<Event_Management_App.Models.GetAllBookedDetails>

@{
    ViewData["Title"] = "Customer Booking Event";
    Layout = "_AdminLayout";
}

<h2>@ViewData["title"]</h2>

<!-- Modal for Update Data -->
<div class="modal fade" id="bookEvent" tabindex="-1" aria-labelledby="bookEventModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookEventModalLabel">Booking Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <form id="update">

                <div class="modal-body">

                    <input hidden id="Id" name="Id" />

                    <div class="row">

                        <div class="col-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="ImageFile" class="form-label">Venue : </label>
                                        <input id="v_ImageFile" type="text" name="ImageFile" class="form-control" onchange="previewImage(this)" autocomplete="off" hidden />
                                        <div class="mb-3" style="display: flex; flex-direction: column;">
                                            <img id="imagePreviewView" src="#" alt="Image Preview" style="height: 200px; width: 200px; border-radius: 50%;">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-8">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Category" class="form-label">Category : </label>
                                        <input id="Category" type="text" name="Category" class="form-control" autocomplete="off" readonly />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Location" class="form-label">Location : </label>
                                        <input id="Location" type="text" name="Location" class="form-control" autocomplete="off" readonly />
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Capacity" class="form-label">Capacity : </label>
                                        <input id="Capacity" type="text" name="Capacity" class="form-control" autocomplete="off" readonly />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Amount" class="form-label">Amount : </label>
                                        <input id="Amount" type="text" name="Amount" class="form-control" autocomplete="off" readonly />
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Contact" class="form-label">Contact : </label>
                                        <input id="Contact" type="text" name="Contact" class="form-control" autocomplete="off" readonly />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Address" class="form-label">Address : </label>
                                        <input id="Address" type="text" name="Address" class="form-control" autocomplete="off" readonly />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class="row">

                        <div class="col-12">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="Username" class="form-label">Username : </label>
                                        <input id="Username" type="text" name="Username" class="form-control" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="Email" class="form-label">Email : </label>
                                        <input id="Email" type="email" name="Email" class="form-control" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="SPassword" class="form-label">Password : </label>
                                        <input id="SPassword" type="password" name="SPassword" class="form-control" autocomplete="off" />
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="Date" class="form-label">Date : </label>
                                        <input id="Date" type="date" name="Date" class="form-control" autocomplete="off" required />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="Time" class="form-label">Time : </label>
                                        <input id="Time" type="time" name="Time" class="form-control" autocomplete="off" required />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="Deposit" class="form-label">Deposit : </label>
                                        <input id="Deposit" type="text" name="Deposit" class="form-control" autocomplete="off" required />
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="Description" class="form-label">Description : </label>
                                    <input id="Description" type="text" name="Description" class="form-control" autocomplete="off" readonly />
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </form>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="updateBook()" class="btn btn-success">Save changes</button>
            </div>

        </div>
    </div>
</div>



<div class="container">
    <div id="cardContainer" class="row">
        <!-- Cards will be appended here -->
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


<script>

    $(document).ready(function () {
        bookEventList();
    });

    function bookEventList() {
        $.ajax({
            type: "Get",
            url: "/Admin_CustomerBooking/CustomerListEvent",
            success: function (data) {
                var cardContainer = $('#cardContainer');
                data.forEach(function (item) {
                    var card = `
                                                    <div class="col-md-4 mb-4">
                                                       <div class="card h-100 p-3">
                                                         <img src="/addeventimages/${item.AddEventModel.ImagePath}" class="card-img-top" alt="Image">
                                                              <div class="card-body">
                                                              <h5 class="card-title">${item.AddEventModel.Category}</h5>
                                                              <p class="card-text">Location: ${item.AddEventModel.Location}</p>
                                                              <p class="card-text">Capacity: ${item.AddEventModel.Capacity}</p>
                                                              <p class="card-text">Amount: ${item.AddEventModel.Amount}</p>
                                                              <button class="btn btn-info" onclick="populateBookData(${item.AddEventModel.Id})" data-bs-toggle="modal" data-bs-target="#bookEvent">Book Now</button>
                                                              </div>
                                                         </div>
                                                     </div>
                                      `;
                    cardContainer.append(card);
                });
            },
            error: function (textStatus, errorThrown) {
                console.log('Error: ' + textStatus);
            }
        });
    }


    function previewImage(input) {
        var file = input.files[0];

        if (file) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imagePreviewUpdate').attr('src', e.target.result).show();
            };

            reader.readAsDataURL(file);
        } else {
            // Clear the image preview if no file is selected
            $('#imagePreviewUpdate').attr('src', '').hide();
        }
    }

    function populateBookData(ID) {
        //debugger;

        $.ajax({

            type: "GET",
            url: "/Admin_CustomerBooking/Populate/" + ID,

            success: function (event) {
                // debugger;

                // Populate the form with the received employee details
                $('#Id').val(event.AddEventModel.Id);
                $('#Category').val(event.AddEventModel.Category);
                $('#Location').val(event.AddEventModel.Location);
                $('#Capacity').val(event.AddEventModel.Capacity);
                $('#Amount').val(event.AddEventModel.Amount);
                $('#Contact').val(event.AddEventModel.Contact);
                $('#Address').val(event.AddEventModel.Address);
                $('#Description').val(event.AddEventModel.Description);

                var imagePreview = "/addeventimages/" + event.AddEventModel.ImagePath;
                $('#imagePreviewView').attr('src', imagePreview).show();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function updateBook() {

        if ($("#update").valid()) {

            debugger;

            var bookId = {

                Id: $('#Id').val(),
            }

            var bookData = {

                AddEventModel: {
                    // Id: $('#Id').val(),
                    Amount: $('#Amount').val(),
                },

                SignUpModel: {
                    Username: $('#Username').val(),
                    Email: $('#Email').val(),
                    SPassword: $('#SPassword').val(),
                },

                BookedEventsModel: {
                    Deposit: $('#Deposit').val(),
                    Date: $('#Date').val(),
                    Time: $('#Time').val(),
                }
            }


            var formData = new FormData();
            formData.append("ID", bookId.Id);
            formData.append("model", JSON.stringify(bookData));

            console.log(bookData);
            debugger;

            $.ajax({
                type: "POST",
                url: "/Admin_CustomerBooking/Booked",
                data: formData,
                contentType: false,
                processData: false,
                cache: false,

                success: function (data) {

                    $('#bookEvent').modal('hide');


                    if (data.status === "success") {

                        Swal.fire({
                            title: "Do you want to save the changes?",
                            showDenyButton: true,
                            showCancelButton: true,
                            confirmButtonText: "Save",
                            denyButtonText: `Don't save`
                        }).then((result) => {
                            /* Read more about isConfirmed, isDenied below */
                            if (result.isConfirmed) {
                                Swal.fire("Saved!", "", "success");
                            }

                            //Remove all cards from the container
                            $('#cardContainer').empty();
                            bookEventList();

                            window.location.href = '/BookedEvents/BookedEvents';
                        });

                    }
                    else if (data.status === "warning") {
                        alert(data.message);
                    }

                },
                error: function (errormessage) {
                    Swal.fire({
                        title: "Error saving event!",
                        text: "close",
                        icon: "Error"
                    });
                }
            });
        }
    }

</script>
